<body>
    <div class="app">
        <header>
            <div class="app-bar">
                <div class="app-header">
                    <h1>To Do List</h1>
                </div>
            </div>
        </header>

        <div class="form-bar">
            {{> form }}
        </div>

        <div class="main">

            <ul class="tasks">
                {{#each tasks}}
                    {{> task}}
                {{/each}}
            </ul>
        </div>
    </div>
</body>

<template name="task">
    <li>
        <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
        <span>{{text}}</span>
        <button class="delete">&times;</button>
    </li>
</template>

<template name="form">
    <form class="task-form">
        <input type="text" name="text" placeholder="Type to add new tasks" />
        <button type="submit">Add Task</button>
    </form>
</template>